<div class="wrapper">
  <h4>Your Referrals</h4>
  <div class="table">
    
    <div class="row header">
      <div class="cell">
        <strong>Name</strong>
      </div>
      <div class="cell">
        <strong>Location</strong>
      </div>
      <div class="cell">
        <strong>Refunds Collected</strong>
      </div>
      <div class="cell">
        <strong>Your %</strong>
      </div>
    </div>
    
    <div class="row">
      <div class="cell">
        Air and Water Inc 
      </div>
      <div class="cell">
        Jersey City, NJ
      </div>
      <div class="cell">
        $4,932.21
      </div>
      <div class="cell">
        $246.60
      </div>
    </div>
    
    <div class="row">
      <div class="cell">
        All Parts Etc
      </div>
      <div class="cell">
        Seattle, WA
      </div>
      <div class="cell">
        $3,213.03
      </div>
      <div class="cell">
        $160.65
      </div>
    </div>
    
    <div class="row">
      <div class="cell">
        Apco
      </div>
      <div class="cell">
        Orlando, FL
      </div>
      <div class="cell">
        $4,211.19
      </div>
      <div class="cell">
        $549.13
      </div>
    </div>
    
    <div class="row">
      <div class="cell">
        Drop Air
      </div>
      <div class="cell">
        Los Angeles, CA
      </div>
      <div class="cell">
        $1543.33
      </div>
      <div class="cell">
        $77.17
      </div>
    </div>

    <div class="row">
      <div class="cell">
        OverDealz
      </div>
      <div class="cell">
        Columbus, OH
      </div>
      <div class="cell">
        $4969.54
      </div>
      <div class="cell">
        $248.47
      </div>
    </div>
    <div class="row">
      <div class="cell">
        MaxWarehouse
      </div>
      <div class="cell">
        Boston, MA
      </div>
      <div class="cell">
        $2204.21
      </div>
      <div class="cell">
        $110.21
      </div>
    </div>

    <div class="row">
      <div class="cell">
        Pogue Supply
      </div>
      <div class="cell">
        New York, NY
      </div>
      <div class="cell">
        $988.97
      </div>
      <div class="cell">
        $49.44
      </div>
    </div>
    <br>
<div class="row" style="margin-top: -5px;">
      <div class="cell">
        <strong>Totals:</strong>
      </div>
      <div class="cell">
    	-
      </div>
      <div class="cell">
        <strong>$6,423.20</strong>
      </div>
      <div class="cell">
        <strong>$321.16</strong>
      </div>
    </div>
    
  </div>
</div>

