

.wrapper {
  margin: 0, auto;
  padding: 40px;
  padding-bottom: 0px;
  max-width: 800px;

}

.table {
  margin-left: 40px;
  margin-right: auto;
  width: 100%;
  box-shadow: 0, 1px, 3px, rgba(0,0,0,0.2);
  display: table;
  padding-bottom: 0px;
  @media screen and (max-width: 580px) {
    display: block;
  }
}

.row {
  display: table-row;
  background: #f6f6f6;

}

h4 {

  margin-left: 45px;
  color: green;
}

.cell {
  padding: 6px 12px;
  display: table-cell;

  @media screen and (max-width: 580px) {
    padding: 2px, 12px;
    display: block;
  }
}