<div class="container">
<h4>Basic Settings</h4>
<form [formGroup]="myForm">
<fieldset>

<!-- Form Name -->

<!-- Text input-->
<div class="form-group">
  <label class="col-md-12 control-label" for="textinput">Change Email ID</label>  
  <div class="col-md-12">
  <input id="textinput" name="textinput" type="text" placeholder="enter new email" class="form-control input-md"> 
  </div>
</div>

<!-- Password input-->
<div class="form-group">
  <label class="col-md-12 control-label" for="passwordinput">new password</label>
  <div class="col-md-12">
    <input id="passwordinput" name="passwordinput" type="password" placeholder="new password" class="form-control input-md">
    
  </div>
</div>

<!-- Password input-->
<div class="form-group">
  <label class="col-md-12 control-label" for="passwordinput">repeat password</label>
  <div class="col-md-12">
    <input id="passwordinput" name="passwordinput" type="password" placeholder="repeat password" class="form-control input-md">
    
  </div>
</div>

<!-- Select Basic -->
<!-- Button -->
<div class="form-group">
  <div class="col-md-12">
    <button style="margin-top: 10px; width: 130px" id="singlebutton" name="singlebutton" class="btn btn-success">Submit</button>
        <button style="margin-top: 10px;"id="singlebutton" name="singlebutton" class="btn btn-danger">Remove Account</button>
  </div>
</div>
<!-- Button -->
<div class="form-group">
  <div class="col-md-12">

  </div>
</div>

<!-- Multiple Checkboxes -->

<!-- Select Multiple -->

</fieldset>
</form>

</div>