<div class="container">
    <div class="row">

        <div class="col-md-12 toppad" >
          <div class="panel panel-info">
            <div class="panel-heading">
              <h3 class="panel-title">Tidy Vacuums</h3>
            </div>
            <div class="panel-body">
              <div class="row">
                <div class="col-md-3 col-lg-3 " align="center"> <img alt="User Pic" src="https://images-na.ssl-images-amazon.com/images/I/11HPVZueTDL.jpg" class="img-circle img-responsive"> </div>
                
                <!--<div class="col-xs-10 col-sm-10 hidden-md hidden-lg"> <br>
                  <dl>
                    <dt>DEPARTMENT:</dt>
                    <dd>Administrator</dd>
                    <dt>HIRE DATE</dt>
                    <dd>11/12/2013</dd>
                    <dt>DATE OF BIRTH</dt>
                       <dd>11/12/2013</dd>
                    <dt>GENDER</dt>
                    <dd>Male</dd>
                  </dl>
                </div>-->
                <div class=" col-md-9 col-lg-9 "> 
                  <table class="table table-user-information">
                    <tbody>
                      <tr>
                        <td>Category:</td>
                        <td>Housewares</td>
                      </tr>
                      <tr>
                        <td>Join Date:</td>
                        <td>12/23/2016</td>
                      </tr>
                      <tr>
                        <td>Contact Name</td>
                        <td>John Anderson</td>
                      </tr>
                   

                      <tr>
                        <td>Contact Email</td>
                        <td>john@tidyvacuums.com</td>
                      </tr>
                      <tr>
                        <td>Location</td>
                        <td>Boston, MA</td>
                      </tr>
                      

                      <tr>
                        <td>Phone Number</td>
                        <td>123-4567-890(Landline)<br><br>555-4567-890(Mobile)
                        </td>
                           
                      </tr>
                     
                    </tbody>
                  </table>
                  
            
          		</div>

        </div>
      </div>
    </div>
	</div>
	<div class="col-xs-1"></div>
</div>
</div>


