
    <div id="headerwrap">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 col-lg-offset-1">
                    <!--h1>IDA. Maximize Amazon refunds</h1>
                    <h5>With advance algorithems the IDA system can retrive incomprehensible amount of refunds</h5-->
                    <h1>Maximum Refund Recovery Tailored to Simplicity</h1>
                    <h5>Recover refunds from Amazon and get the most out of your inventory so you can focus on<br>growing your business</h5>
                    <br><br>
                        <a href="/signup" class="btn btn-theme">Start Here</a>
                </div>
                <!-- <div class="col-lg-8 col-lg-offset-2 himg">
                    <img src="assets/img/background50opa.jpg" class="img-responsive">
                </div> -->
            </div><!-- /row -->
        </div> <!-- /container -->
    </div><!-- /headerwrap -->

    <!-- *****************************************************************************************************************
     SERVICE LOGOS
     ***************************************************************************************************************** -->
     <div id="service">
        <div class="container">
            <div class="row centered home-service-container">
                <div class="col-md-4">
                    <i class="fa fa-caret-square-o-up"></i>
                    <h3>Maximize your refunds</h3>
                    <p class="home-blurb">
                        Harness the full value of your inventory and get refunded for everything from
                        accidents to returns.
                    </p>
                </div>
                <div class="col-md-4">
                    <i class="fa fa-pie-chart"></i>
                    <h3>Fully updated</h3>
                    <p class="home-blurb">Stay current, updated, and track your reimbursements. Follow your cases and know what you've earned.</p>
                </div>
                <div class="col-md-4">
                    <i class="fa fa-line-chart"></i>
                    <h3>Focus on growth</h3>
                    <p class="home-blurb">Make refund recovery simple so you can focus on growing your business.</p>
                </div>
            </div>
        </div>
     </div>

    <!-- *****************************************************************************************************************
     grayy SECTION
     ***************************************************************************************************************** -->
    <!--<div id="grayy">-->
        <!--<div class="container-fluid">-->
            <!--<div class="row">-->
                <!--&lt;!&ndash;div class="col-md-5" id="leftimage">-->

                <!--</div&ndash;&gt;-->
                <!--<div class="col-md-8 col-md-offset-2">-->
                    <!--<h1>-->
                        <!--Keeping refund recovery simple, we handle the process from discovery-->
                        <!--to resolution.-->
                    <!--</h1>-->

                <!--</div>-->
            <!--</div>-->



    <!-- *****************************************************************************************************************
     MIDDLE CONTENT
     ***************************************************************************************************************** -->

  <!--<div class="container mtb">-->
      <!--<div class="row">-->
          <!--<div class="col-lg-8 col-lg-offset-2">-->
              <!--<h4 class="text-center">About &nbsp;GETIDA.</h4>-->
              <!--<p class="home-blurb">-->
                  <!--We are dedicated to discovering eligible reimbursements for all of your lost items,-->
                  <!--mistaken returns, and much more. You work hard to build your brand and fill your storefront with-->
                  <!--quality items and we're committed to ensuring you get the full value from your inventory. Our-->
                  <!--team of refund engineers handle the process of recovery at every step from discovery to case-->
                  <!--management.-->
              <!--</p>-->
          <!--</div>-->


    <!-- *****************************************************************************************************************
     TESTIMONIALS
     ***************************************************************************************************************** -->
    <div id="twrap">
        <div class="container centered">
            <br><br><br>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-1">
                    <i class="fa fa-tags"></i>
                    <h4>25% </h4>
                    <p class="home-blurb">
                        We charge 25% only for the refunds we successfully recover for you.
                    </p>
                </div>
                <div class="col-lg-4 col-lg-offset-2">
                    <i class="fa fa-history"></i>
                    <h4>18 Months Back</h4>
                    <p class="home-blurb">
                        We go as far as 18 months to recover refunds Amazon might have missed.
                    </p>
                </div>
            </div>

        </div>

    </div>


    <!-- *****************************************************************************************************************
     OUR CLIENTS
     ***************************************************************************************************************** -->
    <div id="cwrap">
        <div class="container">
            <div class="row centered">
                <h2>G&nbsp;E&nbsp;T&nbsp;I&nbsp;D&nbsp;A</h2>
                <p class="home-blurb">
                    We are dedicated to discovering eligible reimbursements for all of your lost items,
                    mistaken returns, and much more. You work hard to build your brand and fill your storefront with
                    quality items and we're committed to ensuring you get the full value from your inventory. Our
                    team of refund engineers handle the process of recovery at every step from discovery to case
                    management.
                </p>
                <p class="home-blurb">
                    <br/><br/>
                    <a href="/signup" class="btn btn-theme">Let's Get Started</a>
                </p>
            </div>

        </div>

    </div>


    <!-- *****************************************************************************************************************
     FOOTER
     ***************************************************************************************************************** -->
     <div id="footerwrap">
        <div class="container">
            <div class="row">
                <div class="col-lg-2"></div>
                <div class="col-lg-4">
                    <h4>Info</h4>
                    <div class="hline-w"></div>
          <a href="/TERMSOFSERVICE">Terms Of Service</a><br>
          <a href="/privacypolicy">Privacy Policy</a>

                    <p class="home-blurb">Getida © 2017</p>
                </div>
                <div class="col-lg-4">
                    <h4>Contact Us</h4>
                    <div class="hline-w"></div>
                    <p class="home-blurb">
                        Give us a call: <strong>(201)-632-1879</strong><br/>
                        Or email us at: <strong>support@getida.com</strong>
                    </p>
                </div>

            </div>
        </div>
     </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->


