   <div class="preloader">
        <div class="cssload-speeding-wheel"></div>
    </div>
    <div id="wrapper">
        <!-- Navigation -->

        <!-- Left navbar-header -->
        <div class="my-container">
		<div class="row">
			<div class="col-xs-2">
				<div class="navbar-default sidebar" role="navigation">
            		<div class="sidebar-nav navbar-collapse slimscrollsidebar"><br>
                		<ul class="nav" id="side-menu">
		                    <li>
		                        <a routerLink="profile" class="waves-effect"><i class="fa fa-user fa-fw" aria-hidden="true"></i><span class="hide-menu">Profile</span></a>
		                    </li>
		                    <li>
		                        <a routerLink="stats" class="waves-effect"><i class="fa fa-dollar fa-fw" aria-hidden="true"></i><span class="hide-menu">Stats</span></a>
		                    </li>
		                    <li>
		                        <a routerLink="referrals"><i class="fa fa-mail-forward fa-fw" aria-hidden="true"></i><span class="hide-menu">Referrals</span></a>
		                    </li>
		                    <li>
		                        <a routerLink="contact" class="waves-effect"><i class="fa fa-envelope-open fa-fw" aria-hidden="true"></i><span class="hide-menu">Contact GETIDA</span></a>
		                    </li>
		                    <li>
		                        <a routerLink="settings" class="waves-effect"><i class="fa fa-cog fa-fw" aria-hidden="true"></i><span class="hide-menu">Account Settings</span></a>
		                    </li>
                		</ul>
            		</div>
       			</div>				

			</div>

			<div class="col-xs-10 pull-right">
				<router-outlet></router-outlet>
			</div>


		</div>
		<div>
		<div style="border-bottom: 6px solid rgb(111, 111,111); width: 100%; margin: 0;"></div>
        
 
        <!-- Left navbar-header end -->
        <!-- Page Content -->
        <div id="page-wrapper">
            <div class="container-fluid">
                
                <!-- row -->
                <div class="row">
                    <!--col -->
                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                        <div class="white-box">
                            <div class="col-in row">
                                <div class="col-md-6 col-sm-6 col-xs-6"> <i data-icon="E" class="linea-icon linea-basic"></i>
                                    <h5 class="text-muted vb">New Referrals</h5> </div>
                                <div class="col-md-6 col-sm-6 col-xs-6">
                                    <h3 class="counter text-right m-t-15 text-megna">2</h3> </div>
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <div class="progress">
                                        <div class="progress-bar progress-bar-megna" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%"> <span class="sr-only">40% Complete (success)</span> </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.col -->
                    <!--col -->
                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                        <div class="white-box">
                            <div class="col-in row">
                                <div class="col-md-6 col-sm-6 col-xs-6"> <i class="linea-icon linea-basic" data-icon="&#xe01b;"></i>
                                    <h5 class="text-muted vb">NEW REFUNDS</h5> </div>
                                <div class="col-md-6 col-sm-6 col-xs-6">
                                    <h3 class="counter text-right m-t-15 text-megna">5</h3> </div>
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <div class="progress">
                                        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="60" style="width: 40%"> <span class="sr-only">40% Complete (success)</span> </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.col -->
                    <!--col -->

                    <!-- /.col -->
                </div>
                <!-- /.row -->
                <!--row -->
             
                <!-- /.row -->
            </div>
            <!-- /.container-fluid -->
     <div id="footerwrap">
        <div class="container">
            <div class="row">
                <div class="col-lg-2"></div>
                <div class="col-lg-4">
                    <h4>Info</h4>
                    <div class="hline-w"></div>
          <a href="/TERMSOFSERVICE">Terms Of Service</a><br>
          <a href="/privacypolicy">Privacy Policy</a>

                    <p class="home-blurb">Getida © 2017</p>
                </div>
                <div class="col-lg-4">
                    <h4>Contact Us</h4>
                    <div class="hline-w"></div>
                    <p class="home-blurb">
                        Give us a call: <strong>(201)-632-1879</strong><br/>
                        Or email us at: <strong>support@getida.com</strong>
                    </p>
                </div>

            </div>
        </div>
     </div>  
        </div>
        <!-- /#page-wrapper -->
    </div>
